# Entorno de Desarrollo - Taller ML No Supervisado
# 🍄 UCI Mushroom Dataset

# Manipulación y Análisis
pandas==2.1.1
numpy==1.26.0

# Aprendizaje Automático
scikit-learn==1.3.1
scipy==1.11.3

# Visualización
matplotlib==3.8.0
seaborn==0.13.0
plotly==5.17.0

# Utilidades
ucimlrepo==0.0.3
jupyter==1.0.0
ipykernel==6.25.2
